<div class="row small-3">
  <h1 class="text-center">Edit local</h1>
    <% if @local.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @local.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <%= render partial: "#{current_user.role}_edit", locals: {local: @local} %>
</div>
