<div class="row small-3">
  <% if current_user.admin? %>
    <%= link_to "New user", new_user_path, class: "button expand" %>
    <%= link_to "Users list", users_path, class: "button expand" %>
    <%= link_to "New local", new_local_path, class: "button expand" %>
  <% end %>
</div>
